* {
  margin: 0;
  box-sizing: border-box;
}

.top-container {
  display: flex;
  background-color: #1f2937;

  height: 75px;
  padding-left: 150px;
  padding-right: 150px;
}

.hlogo,
.links {
  flex: 1;
  font-family: Helvetica, Arial, sans-serif;
}

.hlogo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  font-size: 18px;
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: #b5bbc9;
}

.mid-container {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #1f2937;
  gap: 10px;
  padding: 150px;
}

.text,
.placeholder {
  width: 50%;
}

.placeholder {
  text-align: center;
}

.top-title {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.text {
  font-family: Helvetica, Arial, sans-serif;
}

.desc {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up {
  border-radius: 10px;
  background-color: #3882f6;
  color: white;
  width: 120px;
  height: 40px;
  border: solid 0px white;
}

.random-info {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  height: 100px;
  text-align: center;
  padding-top: 25px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.img {
  border: solid #3882f6 4px;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.phone-numbers {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 50px;
}

.number {
  font-size: 20px;
}

.qoute {
  font-size: 36px;
  background-color: #e5e7eb;
  height: 450px;
  text-align: center;
  margin-bottom: 100px;
  padding-top: 200px;
}

.logoimg {
  width: 100px;
  height: 100px;
}

.top-title,
.desc,
.sign-up {
  margin: 20px;
}

.author {
  margin-left: 800px;
  margin-top: 50px;
  font-weight: 600;
}

.cta {
  display: flex;
  justify-content: center;
  margin: 200px;
  background-color: #3882f6;
  height: 125px;
  border-radius: 15px;
}

.button {
  height: 40px;
  width: 130px;
  border: solid 2px white;
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  margin-top: 50px;
}

.thetext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 200px;
  font-family: Helvetica, Arial, sans-serif;
}

.topcta {
  font-weight: 800;
  font-size: 24px;
  color: #e5e7eb;
}

.bottomcta {
  color: #b5bbc9;
}

.example {
  width: 700px;
  height: auto;
}
